---
import Layout from '../layouts/layout.astro';

---

<Layout doc_title="Bienvenido">
	<div class="h-screen bg-red-500 flex items-center ">
		<div class="h-5/6 mx-10 text-8xl font-bold text-white">	
			<h1 id="text" ></h1>
			<h1>CON JAOL</h1>
		</div>
	</div>
</Layout>

