---
const {doc_title} = Astro.props
import Navbar from "../components/navbar.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{doc_title}</title>


</head>
<body>
    <Navbar name="JAOL">
        <div class="bg-red-900 text-white flex py-2 justify-center items-center" id="ad">
            <h1>¿Quieres saber mas?</h1>
            <a href="" class="font-bold mx-2">Envianos un email </a>
            <button class="absolute right-5 hover:bg-red-400 hover:bg-opacity-45 px-2 rounded-md " id="btn">X</button>
        </div>
    </Navbar>
    
    <article>
        <slot/>
    </article>

    <script>
import type { effect } from "astro:schema"




        const ad = document.getElementById("ad")
        const btn = document.getElementById("btn")
        
        btn.addEventListener("click", () => {
            ad.style.display = "none"
        })

        let document_w = 700

        const btn_nav = document.getElementById("btn-nav")
        const block_nav = document.getElementById("block-nav")
        let isOpen = false
        btn_nav.addEventListener("click", ( ) => {
            if(isOpen == false){
                block_nav.style.display = "flex"
                isOpen = true
            }else{
                block_nav.style.display = "none"
                isOpen = false
            }
        })
        
        const text = document.getElementById("text")

        const words = ["Controla", "Gestiona", "Sigue", "Almacena"]

        words.map((e,i) => {
            setTimeout(() => {text.innerHTML = e}, i*  1000)
        })

    </script>

</body>
</html>